Django
djangorestframework
django-cors-headers
django-filter
django-extensions
djangorestframework-simplejwt
drf-yasg

psycopg2-binary
dj-database-url
django-redis
celery
redis

channels
channels-redis
daphne

web3
eth-keys
eth-typing

Pillow
cloudinary
python-magic

requests
python-dotenv
pytz==2023.3.post1

# OAuth token verification
PyJWT[crypto]
cryptography
google-auth
microsoft-kiota-authentication-azure

python-socketio
python-engineio
aiohttp
